/* Cores da marca */
* {
    font-family: 'Inter', sans-serif;
}

:root {
    --blue-1: #55B0E1;
    --blue-2: #004a99;
}

.navbar-brand strong {
    font-size: 1.5rem;
    color: #2b2b2b;
}

#logo {
    width: 40px;
}

#home {
    height: 100vh;
    background-color: var(--blue-1);
    color: white;
    text-align: center;
    padding-top: 150px;
}

#home .btn-primary {
    background-color: var(--blue-2);
    border: none;
}

#sobre .card-title {
    color: var(--blue-2);
    font-weight: bold;
}

#planos .price {
    font-size: 1.8rem;
    color: var(--blue-2);
    font-weight: bold;
}

.plano-destaque {
    border: 2px solid var(--blue-2);
    background-color: #eaf4ff;
}

.footer a {
    text-decoration: none;
    color: var(--blue-2);
}

.footer a:hover {
    text-decoration: underline;
}